doctype html
html
    head
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        nav.navbar.navbar-dark.bg-dark
            a.navbar-brand(href='/addPage') 
                button.btn.btn-primary(type='submit') + Add Passenger  
    body(style='background-color:#f3f3f3')
        .mb-5(style='text-align:center;')
            h1.m-3.font-weight-bold.row.justify-content-center PASSENGER HISTORY
            form.mt-4(method='GET', action='/search', style='font-size:.4em')
                .row.justify-content-center.mb-3
                    .col-md-2
                        label.font-weight-bold(style='font-size:2.3em') First Name: 
                        input.form-control.ml-1(type='text' name='searchFirst') 
                    .col-md-2
                        label.font-weight-bold(style='font-size:2.3em') Last Name: 
                        input.form-control.ml-1(type='text' name='searchLast') 
                    .col-md-1
                        label.font-weight-bold(style='font-size:2.3em') Search:
                        button.btn.btn-dark(type='submit') Go
            div.container-fluid
                .card-group
                    div.row.justify-content-center
                        for passenger in passengers
                            input(type='hidden', name='id', value='passenger._id') 
                            - var url = passenger.image
                            - var editHref = '/editPass/' + passenger._id
                            .card.m-2(style='width:42em; height: 10.5em; box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);')
                                .row.justify-content-start
                                    img.pl-3.m-3.mr-5(src=''+url+'', alt='passenger' style='height: 8.5em; width:auto;')
                                .card-body.ml-5
                                    .row.justify-content-center.font-weight-light
                                        h6.card-title.ml-5(style='font-size:1em') #{passenger.firstName} #{passenger.lastName}
                                    .row.justify-content-center
                                        if passenger.to > Date.now()
                                            p.font-weight-light.ml-5.mr-1(style='font-size:.8em') Exclusion:
                                            b(style='font-size:.8em; color: blue') Active
                                        else
                                            p.font-weight-light.ml-5.mr-1(style='font-size:.8em') Exclusion:
                                            p(style='font-size:.8em; color: red') Passed
                                    .row.justify-content-center.font-weight-light(style='font-size:.8em')
                                        p.card-text.pl-3.ml-5
                                        b Period: 
                                            |   #{moment(passenger.from).format('MM/DD/YY')} - #{moment(passenger.to).format('MM/DD/YY')}
                                    .row.justify-content-center.font-weight-light.mt-3(style='font-size:.8em')
                                        a.mr-2.ml-5(href=''+editHref+'', action='/editPass') 
                                            button.btn.btn-sm.btn-primary(type='button') Edit 
                                        - var delAction = '/delete/' + passenger._id
                                        form.ml-2(method='GET', action=''+delAction+'') 
                                            button.btn.btn-sm.btn-danger(type='submit') Delete                                                                    