body {
}
.passenger {
	width: 32rem;
	height: auto;
	box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.12);
}
h3.passHead {
	background-color : black;
	color: white;
}

img.passImg {
	height: 17em;
	width: auto;
}

p.dates {
	color: red;
}